.intro {
    margin: auto;
  width: 50%;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 7px 7px 5px grey;
  font-family: "Times New Roman", Times, sans-serif;
}

.para {
  font-size: 20px;
}

.by {
  font-style: italic;
}

body {
      background-image: url('bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
  
.shiny-plot-output {
  box-shadow: 7px 7px 5px grey;
}
.well {
  box-shadow: 7px 7px 5px grey;
  border-radius: 5px;
}